@import url("https://use.typekit.net/sss0xoq.css");

body {
    background-image: url(../Assets/back.gif);
    padding: 30px;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.div1 {
    grid-area: 1 / 1 / 2 / 5;
    background: rgba(255, 188, 252, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    font-family: "marine", sans-serif;
    font-weight: 700;
    font-style: italic;
font-size: 6vw;
letter-spacing: 3vw;
color: rgb(234, 129, 255);
text-align: center;
padding: 5%;
}

.div2 {
    grid-area: 2 / 1 / 4 / 3;
    background: rgba(255, 188, 252, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    font-family: "marine-up", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
color: aliceblue;
padding: 5%;
}

.div3 {
    grid-area: 2 / 3 / 4 / 5;
    background: rgba(255, 188, 252, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    font-family: "marine-up", sans-serif;
font-weight: 400;
font-style: normal;
color: aliceblue;
padding: 5%;
font-size: 25px;
}

.div4 {
    grid-area: 4 / 1 / 5 / 5;
    object-fit: contain;
    display: block; 
    justify-content: center;
}

a {text-decoration: none;
    color: rgb(234, 129, 255);
    font-family: priori-acute-serif, sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 30px;}