@import url("https://use.typekit.net/sss0xoq.css");

:root {
    --color1: #000814;
    --color2: #628ab4;
    --color3: #003566;
    --color4: #ffc300;
    --color5: #ffd60a;
}

body {
    background-color: #000814;
    padding: 50px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 2 / 9 / 4;
}

.div1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.history {
    grid-area: 1 / 1 / 5 / 2;
    font-size: 20px;
}

.suntxt {
    grid-area: 5 / 1 / 9 / 2;
    font-size: 25px;
}

.mechanic {
    grid-area: 1 / 4 / 5 / 5;
    font-size: 17px;
}

.science {
    grid-area: 5 / 4 / 9 / 5;
    font-size: 20px;
}

.history,
.science,
.suntxt,
.mechanic {
    color: #ffd60a;
    font-family: "gravesend-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    align-content: center;
    justify-content: center;
}

.heading {
    grid-area: 9 / 1 / 11 / 5;
    color: #003566;
    font-family: "rosella-deco", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    letter-spacing: 70px;
    text-align: center;
    text-shadow: 5px 5px 1px #ffd60a;
}

a {text-decoration: none;
color: #628ab4;
font-size: 30px;
text-shadow: 2px 2px 1px #ffc300;}