@import url("https://use.typekit.net/orj0xso.css");

html {
    --s: 70px;
    --b: 15px;

    --_r: calc(1.28*var(--s) + var(--b)/2) at top 50%;
    --_f: calc(99.5% - var(--b)), #f6cde2 calc(101% - var(--b)) 99.5%, #0000 101%;
    --_g0: calc(-.8*var(--s)), #b67295 var(--_f);
    --_g1: calc(-.8*var(--s)), #d2a9be var(--_f);
    --_s: calc(1.8*var(--s) + var(--b));
    background:
        radial-gradient(var(--_r) right var(--_g0)) calc(-1*var(--_s)) var(--s),
        radial-gradient(var(--_r) left var(--_g1)) var(--_s) calc(-1*var(--s)),
        radial-gradient(var(--_r) right var(--_g1)) calc(var(--_s)/-2) calc(-1*var(--s)),
        radial-gradient(var(--_r) left var(--_g0)) calc(var(--_s)/ 2) var(--s),
        linear-gradient(90deg, #b67295 50%, #d2a9be 0);
    background-size: var(--_s) calc(4*var(--s));
}

body,
html {
    cursor: url('images/cursor.png'), auto;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image,
.home-image1,
.home-image2,
.home-image3,
.home-image4,
.home-image5,
.home-image6,
.home-image7,
.home-image8 {
    max-width: 20vw;
    max-height: 20vh;
    object-fit: cover;
    border-radius: 8px;
    margin: -3vw;
    z-index: 2;
    transition: transform 0.5s ease;
}

.home-image:hover,
.home-image1:hover,
.home-image2:hover,
.home-image3:hover,
.home-image4:hover,
.home-image5:hover,
.home-image6:hover,
.home-image7:hover,
.home-image8:hover {
    transform: scale(1.1);
    z-index: 10;
}

.home-text {
    font-family: "pf-uniform", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #a0d4a6;
    font-size: 10vw;
    border: none;
    border-radius: 10px;
    background-color: #709874;
    padding: 2vh;
    z-index: 1;
}

.home-button {
    text-decoration: none;
    color: #709874;
    width: auto;
    padding: 10px 20px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #709874;
    z-index: 20;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
}

.home-button:hover {
    background-color: #a0d4a6;
}

a {text-decoration: none;
    color: #b3ebb9;}


@media (min-width: 768px) {
    .home-text {
        font-size: 60px;
    }

    .home-button {
        width: 200px;
    }
}