@import url("https://use.typekit.net/orj0xso.css");

html {
    --s: 70px;
    --b: 15px;

    --_r: calc(1.28*var(--s) + var(--b)/2) at top 50%;
    --_f: calc(99.5% - var(--b)), #f6cde2 calc(101% - var(--b)) 99.5%, #0000 101%;
    --_g0: calc(-.8*var(--s)), #b67295 var(--_f);
    --_g1: calc(-.8*var(--s)), #d2a9be var(--_f);
    --_s: calc(1.8*var(--s) + var(--b));
    background:
        radial-gradient(var(--_r) right var(--_g0)) calc(-1*var(--_s)) var(--s),
        radial-gradient(var(--_r) left var(--_g1)) var(--_s) calc(-1*var(--s)),
        radial-gradient(var(--_r) right var(--_g1)) calc(var(--_s)/-2) calc(-1*var(--s)),
        radial-gradient(var(--_r) left var(--_g0)) calc(var(--_s)/ 2) var(--s),
        linear-gradient(90deg, #b67295 50%, #d2a9be 0);
    background-size: var(--_s) calc(4*var(--s));
}

body,
html {
    cursor: url('images/cursor.png'), auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.quiz-container {
    display: none;
    flex-direction: column;
    width: 50rem;
    max-width: 80%;
    background-color: #c3e6c7;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1);
}

#question-container {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

#question {
    color: #709874;
    font-family: "pf-uniform", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#answer-buttons {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input {
    width: fit-content;

}

.btn {
    font-family: "pf-uniform", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1.5rem;
    background-color: #b67295;
    color: white;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

input,
.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: #3282d8;
}


#result {
    margin: 2rem auto;
}

#question,
#result {
    font-size: 1.5rem;
    font-weight: bold;
}

.answer-btn {
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #b67295;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.answer-btn:hover,
.answer-btn:focus {
    background-color: #7c4762;
    transform: scale(1.05);
    outline: none;
}

.answer-btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.hide {
    display: none;
}