@import url("https://use.typekit.net/sbe2xhd.css");

* {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #e5e5f7 25%, #e5e5f7 75%, #000000 75%, #000000);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    white-space: nowrap;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ff0000;
}

.text {
    font-size: 200px;
    font-family: "vm74", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    background-color: black;
    animation: animate_text 60s linear infinite;
}

.text span {
    margin: 0 40px;
}

@keyframes animate_text {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}